VITE_API_BASE_URL=smart-garage-ai-production-b326.up.railway.app
VITE_SUPABASE_URL=https://sueucovojebkuyvjtemk.supabase.co
VITE_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1ZXVjb3ZvamVia3V5dmp0ZW1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg5MDA3OTYsImV4cCI6MjA4NDQ3Njc5Nn0.AndNErU0ZzG5PfwFUI5QXnXzYm7-W5vQq94UYw50504'
